body {
    background-image: url(img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    margin: 30px;
}
.title {
    text-align: center;
    margin-left: 10%;
}

span {
    color: rgb(255, 0, 0);
}
.home {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#task-form {
    /* background-image: url(images/01.jpg); */
    background-size: 1300px;
    border: 1px solid black;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 40px;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 5%;
    backdrop-filter: blur(5px);
}
#task-title {
    width: 260px;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
}
#task-email {
    width: 260px;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
}
#task-due-date {
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
}
#task-due-time {
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
}
button {
    width: 120px;
    height: 40px;
    background-color: aqua;
    border-color: aqua;
}
.remove-task {
    border-radius: 20px;
}
button:hover {
    background-color: transparent;
}
#add-task {
    border-radius: 10px;
}
#add-task:hover {
    background-color: transparent;
}

.tasklist ul{
    margin-left: 40%;
}
#task-list {
    margin-top: 50px;
}